button{
    margin-top: 15px;
    width: 100px;
    height: 50px;
    font-family: Showcard Gothic;
    font-size: large;
    color: white;
    background: springgreen;  
    border-radius: 5px;
    border-left-color: darkblue;
    border-top-color: slateblue;
    border-right-color: darkblue;
    border-bottom-color: slateblue;
    cursor: pointer;
    transition: 1s;
}
button:hover{
    margin-top: 4px;
    background-color: blueviolet;
    transition: 0.5s;
}
p:hover{
    color: slateblue;
}
::selection{
    background-color: #4d4d4f;
    color: white;
}
.petBox{
    display: inline-block;
    width: 30%;
    text-align: center;
}
.petBox img{
    width: 100%;
}
body{
    font-family: Showcard Gothic;
}
